 /*
 共通
 */
 body{
    margin: 0 auto;
    padding: 0;
    height: 100%;
    width: 100%;
}
 /*header*/
 header {
    justify-content: space-between;
    height: 80px;
    width: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: transparent;
    flex-direction: column;
    z-index: 1;
 }
 header .logo-img {  /*ロゴのサイズと配置*/
    height: 50px;
    width: auto;
    display: block;
    margin-left: 50px;
  }
nav ul {   /*リストのスタイル*/
    list-style: none;
    padding: 0px;
    margin-right: 100px;
    display: flex;
    gap: 40px;
}
header a {
    text-decoration: none;
    font-size: 20px;
    color: black;
    font-family: 'Frank Ruhl Libre', serif;
 }
/*
index.html
*/
.trs-content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to right,#969495, #d8d8d8);
    height: 1000px;
    width: 100%;
    margin: 0px;
    opacity: 0;
    animation:  fadeIn 3s ease 1s forwards; /*フェードイン*/
    z-index: 0;
}
 @keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.top-img {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    top: 0px;
    right: 0px;
    height:750px;
    width: 55%;
    z-index: 1;
}
.trs-img{
    padding: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 2;
}
.button {
    padding: 500px 0px 0px 0px;
    z-index: 2;
}
.about {
    position: relative;

}
 /*business.html*/
 /*company.html*/
 /*contact.html*/
 /*privacy-policy.html*/
.contact-img {
    width: 55%;
}
 /*縦画面用*/

 /*横画面用*/
@media (min-width: 600px) {
    header {
        flex-direction: row;
    }
}